@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
body {
    padding: 0;
    margin: 0;
    font-family: Lato;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid red; */
    height: 95vh;
}

.content {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black;
    width: 90%;
    height: 90vh;
}

button {
    background: #00B87C;
    border: none;
    border-radius: 4px;
    color: white;
    width: 5em;
    height: 2.5em;
}

.menu {
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* justify-content: center; */
    height: 80vh;
}

.levels {
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.levels button {
    margin-top: .45em;
    width: 10em;
    height: 1.9em;
}

.levels button:nth-child(3) {
    background: chartreuse;
}

.levels button:nth-child(4) {
    background: rgb(252, 157, 157);
}

.level_header {
    font-weight: 900;
}

#number {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #00B87C;
    width: 4.5em;
    height: 2.25em;
    font-size: 1.5em;
}

button:active {
    box-shadow: 0 5px 8px #888888;
    transform: translateY(3px);
}

.numberTablet {
    margin: 2em 0;
    padding: .3em;
    background: #0f5153;
    border: none;
    border-radius: 4px;
    color: white;
    width: fit-content;
    height: 2em;
}

.number_buttons {
    display: flex;
    /* border: solid red; */
    flex-wrap: wrap;
    width: 75%;
    height: 50vh;
}

.number_buttons button {
    margin: .5em;
}

.number_buttons button:last-child {
    justify-content: center;
    justify-items: center;
    margin: 0 6.5em;
}

.gameOver {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(207, 226, 230);
    /* border: solid black; */
    width: 90vw;
    height: 95vh;
    font-size: larger;
    font-weight: 900;
}

.replay {
    padding: 0;
    margin: 0;
    /* border: solid red; */
    /* height: solid green; */
    background-color: rgb(212, 100, 100);
    position: relative;
    bottom: 15em;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: auto;
    right: auto;
    width: 80%;
    height: 30%;
    overflow: auto;
    border-radius: 4px;
    background-color: #0f5153;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #888888;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: rgb(212, 100, 100);
    float: right;
    font-size: 28px;
    font-weight: bolder;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.message {
    text-align: center;
    margin: .6em;
    color: white;
}